*{font-size: 0.8em;}

div{display: block;}

.dingbu{padding: 0 20%;border: 1px red ;position: fixed;z-index: 10;background-color:#696969;}
.dingbu-zhong{width: 1152px;border: 1px ;margin:auto;padding:auto;height:35px;}
.dingbu-zhong-1{width: 15%;height: 33px;border:1px white;display: inline-block;margin:0;text-align: center;padding: auto;background-color: #ff8c00;border-radius: 5px;}
#sousuo-button{border-radius: 4px;background: white;color: black;width: 40px;height: 28px;outline: none;margin: auto;padding: auto;position: absolute;top: 2px;}
#sousuo-button:hover{cursor: pointer;box-shadow: 0 0 10px rgba(0,0,0,.8);}
#sousuo-input{height: 25px;border: 0;margin: 2px;background-color: white;margin: auto;padding: auto;width: 150px;border-radius: 5px;position: absolute;right: 105px;top: 3px;}
.dingbu-zhong a{text-decoration: none;color:black;line-height: 28px;margin: auto;cursor: pointer;font-size: 15px}
.dingbu-zhong a:hover{color: white;font-weight: bold;font-size: 15px;background-color: #ee7600;box-shadow: 0 5px 3px rgba(0,0,0,.5); }

.huanchong{border: 1px ;min-width: 320px;height: 38px;background-color: #f8f8ff;}

.tplz-shouye{position: fixed;float: left;border: 1px red ;z-index: 10;left: 230px;top: 58px;border-radius: 50%;font-size: 50px;font-weight: bold;opacity: 0.8;box-shadow: 0px 2px 2px rgba(0,0,0,.5)}
.tplz-shouye:hover{box-shadow: 5px 10px 10px 0 rgba(0,0,0,.5);opacity: 0.8;}
.tplz-shouye:active{box-shadow:5px 10px 10px 0 rgba(0,0,0,.5) ,inset 6px  6px  10px rgba(0,0,0, .5);opacity: 1;}

.tplz{padding: 0 20%;border: 1px;background-color: #f8f8ff;}
.tplz-zhong{width: 1152px;border: 1px ;margin:auto;padding:auto;height:300px;position: relative;overflow:hidden;}
#tplz-zhong-1{width: 98%;height: 600px;margin: auto;z-index: 1;position: absolute;left: 1%;}
.arrow{cursor: pointer;z-index: 2;text-align: center;line-height: 39px;font-size: 42px;font-weight: bold;top: 120px;position: absolute;width: 45px;height: 45px;background: rgba(0,0,0,.2);color: black;}
.arrow:hover{background-color: rgba(0,0,0,.7);color: white;font-size: 42px;font-weight: bold;}
a{text-decoration: none;}
#prev{left:6px;}#next{right:6px;}
#tplz-button{z-index: 2;height:10px;width: 60px;position: absolute;left:547.2px;top: 270px;}
#tplz-button span{border: 1px   #fff;border-radius: 50%;background-color: #333;width: 5px;height: 5px;cursor: pointer;}
#tplz-zhong-1 img{border-radius: 20px;box-shadow: 0px 0px 5px 2px rgba(0,0,0,.5);}


.jgg{padding: 0 20%;border: 1px ;background-color: #f8f8ff;}
.jgg-zhong{width: 1152px;border: 1px ;margin:auto;padding:auto;}
.jgg-zhong-1{width: 80%;border: 1px ;margin: 0px auto;padding:10px 0 2px 0;}
.jgg-zhong-2{width: 30%;height: 250px;display: inline-block;border: 1px ;margin: auto 13px;background-color:#f7f7f7;cursor: pointer;color:black; text-align: center;border-radius: 10px;box-shadow: 0px 2px 2px rgba(0,0,0,.5), inset 0px 0px 0px rgba(0,0,0, .3);position: relative;}
.jgg-zhong-2 span{font-size: 40px;font-weight: bold;}
.jgg-zhong-2:hover{animation: myflash 0.6s;background-color:#454545;color: white;box-shadow: 0px 30px 30px rgba(0,0,0,.5), inset 0px 0px 2px rgba(0,0,0, .5);top: -7px;}
.jgg-zhong-2:active{background-color: #4d4d4d;color: #ededed;box-shadow: 0px 30px 30px rgba(0,0,0,.5), inset 6px  6px  10px rgba(0,0,0, .5);}
.jgg-zhong-1 a{text-decoration: none;}



.footer{padding: 0 auto;border: 1px;background-color: #cccccc;margin: 5px 0 0 0;}
.footer-zhong{width: 1152px;border: 1px ;margin: auto;padding:20px 0;}
.footer-zhong-1{width: 24.5%;display: inline-block;border: 1px ;margin: auto;}
.footer-zhong-2{height: 150px;width: 80%;margin: auto;border: 1px ;padding:5px 10px;text-align: left;background-color:#696969;opacity: 0.9;color: white;box-shadow: 0px 2px 2px rgba(0,0,0,.5), inset 0px 0px 0px rgba(0,0,0, .3);}
.footer-zhong-2 a{text-decoration: none;color:white;line-height: 20px;margin: auto;cursor: pointer;}
.footer-zhong-2 a:hover{color: black;font-weight: bold;font-size: 12px; }

@keyframes myflash{from{color:black;top: 0px;}to{background-color:#454545;color: white;box-shadow: 0px 30px 30px rgba(0,0,0,.5), inset 0px 0px 2px rgba(0,0,0, .5);top: -7px;}